fastapi
pydantic-settings
redis
langchain_ollama
uvicorn
websockets
pydantic
sqlalchemy
psycopg2
asyncpg
sqlalchemy[asyncio]
alembic
pydantic[email]
bcrypt
PyJWT
python-multipart
langchain
langchain_community
langchain_huggingface
pinecone